<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text ="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href ="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header"></header>

<div class="container mt-5">
    <!-- Таблица для отображения списка -->
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Start DateTime</th>
            <th scope="col">Symbols</th>
            <th scope="col">Type</th>


        </tr>
        </thead>
        <tbody>
        <!-- Генерация строк таблицы -->
        <tr th:each="el : ${symbols}">
            <td th:text="${el.getId()}">Symbol</td>
            <td th:text="${el.getTime()}">Symbol</td>
            <td th:text="${el.getSymbols()}">HighBuy</td>
            <td th:text="${el.getType()}">ImbBuy</td>

        </tr>
        </tbody>
    </table>
    <div class="text-right mt-3">
        <strong>Total Records:</strong> <span th:text="${symbols.size()}">0</span>
    </div>
</div>

</body>
</html>